<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetpack.samples">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.KotlinDemo">
        <activity
            android:name=".room.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".datastore.DataStoreActivity"
            android:exported="false" />
        <activity
            android:name=".room.sqlite.SqliteActivity"
            android:exported="false" />
        <activity
            android:name=".savestate.SaveStateActivity"
            android:exported="false" />
        <activity
            android:name=".savestate.SaveStateHandlerActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".workmanager.WorkManagerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".binding.BindingDemoActivity"
            android:exported="false" />

        <service
            android:name=".lifecyle.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".lifecyle.LifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.DataBindActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>